.P-img{
    margin: 0 auto;
    height: 300px;
    width: 300px;
    text-align: center;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.f-control{
    display: inline;
    /* width: 100%; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.danger{
    color: red;
    font-weight: bold;
}