body {
    height: 100%;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
}

p {
    width: 75%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ffd868;
}