<footer class="footer bg-light text-center text-lg-start">
  <div style="background-color: #474654;">
    <div class="container text-left p-3 mt-5">
      <div class="row my-5">
        <div class="col-sm-12 col-md-4">
          <h4>About Us</h4>
          <p class="mt-5 pl-5">
            Lorem ipsum dolor sit amet, consectel adipisicing elit, sed do eiusmod temp incidid ut labore et dolo
          </p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4>Information</h4>
          <div class="mt-5 pl-5">
            <a href="/">About Us</a><br>
            <a href="/">Delivery Information</a><br>
            <a href="/">Privacy Policy</a><br>
            <a href="/">Terms & Conditions</a><br>
            <a href="/">Contact Us</a><br>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4>Contact Info:</h4>
          <p class="mt-5 pl-5">
            If you have any question.please contact us at:
            <a href="mailto:demo@example.com">demo@example.com</a>
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="text-center p-3 mt-5">
          © 2024 Copyright
          <a class="text-light" href="/">PetShop.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>