body {
    height: 100%;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    color: white;
}

p {
    width: 75%;
}

ul {
    padding-left: 0rem;
}

li {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    line-height: 34px;
}

a:hover {
    color: #ffd868;
}