<div class="container">
    <div class="mt-3 row">
        <div [hidden]="inputCategoryID < 0" id="display">
            <div appProductCard *ngFor="let item of ProductList" class="box m-2 p-2"
                [ngClass]="{'warning': item.Quantity==1}" (click)="getProduct(item)">
                <div class="photo">
                    <img [src]="item.img">
                </div>
                <h4>{{item.Name}}</h4>
                <h6>{{item.Price | currency:'USD':'symbol'}}</h6>
                <h6>{{item.Price | dollarToEgp: 10 | currency: 'EGP '}}</h6>
                <div [ngSwitch]="item.Quantity">
                    <h6 style="font-weight: bold;" *ngSwitchCase="0">Out of Stock</h6>
                    <h6 class="danger" *ngSwitchCase="1">Last Item</h6>
                    <h6 *ngSwitchDefault>Quantity: {{item.Quantity}}</h6>
                </div>

                <div class="row px-5 mt-4" style="text-align: center;">
                    <button *ngIf="getValue(item) == 0" [ngClass]="{'disabled': item.Quantity == 0}" type="button"
                        class="btn btn-primary btn-block" (click)="AddToCart(item)">Add to Cart</button>
                    <div *ngIf="getValue(item) > 0" class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-number" (click)="Decrement(item)">-
                            </button>
                        </span>
                        <input [disabled]="1" style="text-align: center;" [id]="item.id" type="text"
                            class="form-control input-number" [value]="getValue(item)" [max]="item.Quantity">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-number" (click)="Increment(item)">+
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>