<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-5" href="#">PetShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link ms-auto me-5" aria-current="page" routerLink="/Home" routerLinkActive="active">Home</a>
                <a class="nav-link ms-auto me-5" aria-current="page" routerLink="/Adopt" routerLinkActive="active">Adopt</a>
                <a class="nav-link ms-auto me-5" aria-current="page" routerLink="/Products" routerLinkActive="active">Shop</a>
                <a class="nav-link ms-auto me-5" [hidden]="isLogged" href="#" routerLink="/Login" routerLinkActive="active">Login</a>
                <a class="nav-link ms-auto me-5" [hidden]="isLogged" href="#" routerLink="/Register"
                    routerLinkActive="active">Register</a>
                <a class="nav-link ms-auto me-5" [hidden]="!isLogged" href="#" routerLink="/Login"
                    routerLinkActive="active">Logout</a>
                <a class="nav-link ms-auto me-5" [hidden]="!isLogged" href="#" routerLink="/User/Edit" routerLinkActive="active">Edit
                    Profile</a>
                </div>
        </div>
    </div>
</nav>