<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PetShop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive="active">Home</a>
                <a class="nav-link" aria-current="page" routerLink="/Adopt" routerLinkActive="active">Adopt</a>
                <a class="nav-link" aria-current="page" routerLink="/Home" routerLinkActive="active">Your Pets</a>
                <a class="nav-link" aria-current="page" routerLink="/Products" routerLinkActive="active">Products</a>
                <a [hidden]="isLogged" class="nav-link" href="#" routerLink="/Login" routerLinkActive="active">Login</a>
                <a [hidden]="isLogged" class="nav-link" href="#" routerLink="/Register" routerLinkActive="active">Register</a>
                <a [hidden]="!isLogged" class="nav-link" href="#" routerLink="/Login"
                    routerLinkActive="active">Logout</a>
                <a [hidden]="!isLogged" class="nav-link" href="#" routerLink="/Admin/Dashboard"
                    routerLinkActive="active">Admin</a>
                    <a [hidden]="!isLogged" class="nav-link" href="#" routerLink="/User/Profile"
                    routerLinkActive="active">Profile</a>
                    <a [hidden]="!isLogged" class="nav-link" href="#" routerLink="/User/Edit"
                    routerLinkActive="active">Edit Profile</a>
            </div>
        </div>
    </div>
</nav>
