<div class="container mt-4" style="display: inline-block;">
    <div class="row">
        <img class="logo col-2" [src]="logo">
        <div class="mt-2 col-10">
            <h1>{{StoreName}}</h1>
        </div>
    </div>


    <h3 [hidden]="Discount == 'No Discount'">We offer an explicit discount of: <span>{{Discount}}</span></h3>

    <div class="row">
        <h5 class="col-1">Filter:</h5>
        <div class="col-10">
        <select [hidden]="done" [(ngModel)]="selectedValue" class="form-select"
            aria-label="Default select example">
            <option *ngFor="let item of CatList let i = index" [ngValue]="i"> {{item.Name}}</option>
        </select>
    </div>
    </div>
</div>


<app-products [selectedValue]="selectedValue"></app-products>