<div class="">
    <div class="bg-img">
        <div class="row">
            <app-header></app-header>
        </div>
        <div class="row main-slider-area">
            <div class="text-title col-sm text-area">
                <div>
                    <h1>The Pet Shop</h1>
                    <h3>Adopt a Furbaby!</h3>
                    <div class="buttons">
                        <button class="main-header-btn" routerLink="/Adopt">Adopt</button>
                        <button class="main-header-btn" routerLink="/Products">Shop</button>
                    </div>
                    <div>
                        <br>
                        <p>Special Offer <br> Up to 40% off</p>
                    </div>
                </div>
            </div>
            <div class="col-sm picture-area">
                <div class="circle"></div>
                <img class="sub-bg-img" src="assets/slider-01.webp" />
            </div>
        </div>
        <div class="liked text-center p-5">
            <h1>☆ Rising Stars ☆</h1>
            <button class="prev btn btn-default">
                <img src="assets/right-arrow.png" width="40" (click)="Prev()" />
            </button>
            <div appProductCard *ngFor="let item of likedList let i=index" class="m-3 slider most-liked-box"
                [hidden]="i < split && i >= index">
                <div class="mt-3 photo">
                    <img [src]="item.image">
                </div>
                <h3>{{item.Name}}</h3>
                <h5>{{item.age}}</h5>
                <h6>{{item.type}}</h6>
                <h6>{{item.breed}}</h6>
                <button class="btn btn-default">
                    <img class="m-1" [src]="heart" width="20" [id]="item.id" (click)="heartIt(item)" />{{item.likes}}
                </button>
            </div>
            <!-- <button class="btn btn-primary" (click)="Next()">next</button>  -->
            <button class="btn btn-default">
                <img src="assets/right-arrow.png" width="40" (click)="Next()" />
            </button>
        </div>
        <div>
            <new-collection-products></new-collection-products>
        </div>
        <div>
            <best-product></best-product>
        </div>
        <app-footer></app-footer>
    </div>
</div>