@media (max-width: 991px) {
    .sub-bg-img {
        width: 330px;
    }

    .bg-img {
        height: 530px;
    }

    .main-slider-area {
        height: 442px;
    }

    .circle {
        height: 280px;
        width: 280px;
        z-index: 1;
    }
}

@media (max-width: 1199px) {
    .sub-bg-img {
        width: 400px;
    }

    .bg-img {
        height: 600px;
    }

    .main-slider-area {
        height: 512px;
    }

    .circle {
        height: 300px;
        width: 300px;
        z-index: 1;
    }
}

@media (max-width: 1399.98px) {
    .circle {
        height: 500px;
        width: 500px;
        z-index: 1;
    }
}

.bg-img {
    background-image: url("../../../assets/slider-bg.webp");

    width: auto;
    height: 796px;

    /* Center and scale the image nicely */
    align-items: center;
    background-position: top left 5px;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.main-slider-area {
    height: 708px;
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
}

.main-slider-area .picture-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.main-slider-area .text-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.sub-bg-img {
    opacity: 1;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
    box-sizing: border-box;
    z-index: 2;
}

.circle {
    background-color: #ffd868;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    align-items: start;

    z-index: 1;
}

.Ads {
    text-align: center;
    color: red;
}

.slider {
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.photo {
    margin: 0 auto;
    width: 100%;
    height: 40%;
    text-align: center;
}

.prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.most-liked-box {
    /* height: 200px;
    width: 400px; */
    display: inline-block;
    width: 260px;
    height: 430px;
    text-align: center;
}

.banner-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.banner {
    max-width: 100%;
    max-height: 100%;
}

.text-title {
    float: right;
    margin-top: 5%;
    margin-right: 10%;
    text-align: center;
    /* background-color: palegoldenrod; */
}

.text-title h1 {
    font-weight: bold !important;
    font-size: 4rem !important;
    font-family: 'Luckiest Guy', 'cursive' !important;
    color: rgb(255, 255, 255);
}

.text-title h3 {
    color: #F0BF13;
    font-family: 'Allura', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Square Peg', cursive;
    font-size: 3.5rem !important;
}

.buttons {
    margin: auto;
}

.text-title .buttons button {
    color: purple;
    background-color: #ffd868;
    margin: 0.5rem;
    width: 120px;
    height: 45px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.text-title p {
    /* margin-right: 5%; */
    color: red;
    font-family: 'Allura', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Square Peg', cursive;
    font-size: 2.5rem !important;
    font-weight: bolder;
}

.liked h1 {
    color: purple;
    font-weight: 400 !important;
    font-size: 2.5rem !important;
    font-family: 'Luckiest Guy', 'cursive' !important;
}