<div class="row mt-3">
  <div style="position: sticky;">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab"
        aria-controls="home" [ngClass]="{'active': onDisplay == 0}" (click)="HomePage()"><img src="assets/home.png"
        width="20" /> Home</a>
      <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" role="tab"
        aria-controls="home" [ngClass]="{'active': onDisplay == 1}" (click)="ShoppingCart()"><img src="assets/cart.png"
          width="20" /> Shopping Cart</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" role="tab"
        aria-controls="profile" [ngClass]="{'active': onDisplay == 2}" (click)="Products()"><img src="assets/cart.png"
        width="20" /> Products</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" role="tab"
        aria-controls="messages" [ngClass]="{'active': onDisplay == 3}" (click)="About()"><img src="assets/about.png"
        width="20" /> About Us</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" role="tab"
        aria-controls="settings" [ngClass]="{'active': onDisplay == 4}" (click)="Contact()"><img src="assets/contact.png"
        width="20" /> Contact Us</a>
    </div>
  </div>
</div>