.bg-img {
    background-image: url("../../../../assets/nav.jpg");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* z-index: -100; */
}