span{
    color: limegreen;
}

.danger{
    color: red;
    font-weight: bold;
}

.success{
    color: limegreen;
    font-weight: bold;
}

.ErrorMsg{
    text-align: center; 
    height: 100%; 
    color: red;
}