<div class="wrapper">
    <div class="container text-left best-product-wrapper">
        <div class="description col-sm-12 col-md-6">
            <div class="row sub-title">
                <h5>Best Product</h5>
            </div>
            <div class="row">
                <h1>Best Pet Food</h1>
            </div>
            <div class="row">
                <div class="mt-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                    <br><br>
                    Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidata non proident,
                    sunt
                    in culpa qui officia deserun mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
                    error.
                </div>
                <button class="mt-4">Shop Now</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 product-img">
            <img src="../../../assets/1.webp">
        </div>
    </div>
</div>